@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Syne:wght@400..800&display=swap');
/**
.outfit-<uniquifier> {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.syne-<uniquifier> {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

  **/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c2532;
    color:#e8ebe4;
    padding: 20px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Outfit", serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h4 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

h6 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.headerlogo img {
    width: 110px;
    height: auto;
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

header figure img {
    margin-left: 5%;
}

nav {
    margin-left: auto; /* Push the navigation to the right */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    justify-content: space-around;
}

.navlink {
    padding-left: 30px;
    padding-right: 30px;
    color: #e8ebe4;
    font-family: "Outfit", serif;
    font-size: 0.8rem;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color 0.1s ease;

}

.navlink.contact {
    margin-right: 25px;
}

.navlink.active {
    color: #ffa629;
}

.navlink::after {
    content: '';
    position: absolute;
    left:50%;
    bottom: -35px;
    transform: translateX(-50%);
    width: 60%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s ease;
}

/** ::after is a "pseudo-element" used to insert content after the content of an element **/

.navlink:active::after {
    border-color: #ffa629;
    text-decoration-color:#ffa629;
}

.navlink:hover {
    color: #9fc4ff;
}
.navlink:hover::after {
    border-color: #9fc4ff;
}

figure a img {
    width: 20%;
}

.get-started {
    background-color: #ff9400;
    color: #1c2532;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px; /* Space between nav links and button */
    margin-right: 2%;
    font-family: "Outfit", serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.15rem;
    border-radius: 45px;
}

.header {
    margin-left: -20px;
    width: 98.7vw;
    margin-bottom: 0%;
    padding-bottom: 0%;
    z-index: 1;
}

.header img {
    width: 100%;
    height: auto;
}

main h1 {
    transform: translate(1.5%, -60%); /* a css scale property that translates elements by its x and y values on the x and y axis */
    z-index: 10;
    font-size: 6rem;
}

.advice-column {
    max-width: 95%;
    transform : translate(0%, -12%);
}

.advice-column p {
    margin-bottom: 1.5rem;
    color: #e8ebe4;
    font-family: Syne;
    font-size: 1.1rem;
    
}

.advice-column p:first-child {
    margin-left:5%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #e8ebe4;
    border-radius: 30px;
    padding: 0; /* No padding around the button */
    margin-bottom: 5%;
    max-width: 80%;
    transition: border 0.3s ease;
}
.button img {
    width: 100%;
    object-fit: cover;
}

.button:hover {
    border-color: #9fc4ff;
}

.button:active {
    border-color: #ffa629;
}

article section {
    padding: 20px; /* Padding only for the text side */
}

article h4 {
    font-size: 1.5rem;
}

article p {
    font-size: 1rem;
    color: #ccc;
}

time {
    font-size: 0.8rem;
    color: #aaa;
}

footer {
    display: flex;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ccc;
    background-color: #9fc4ff;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -40px;
    justify-content: space-around;
    color: #1c2532;
}

footer figure img {
    max-height: 50%;
}

footer section ul {
    list-style: none;
}

footer section ul li {
    margin-bottom: 10px;
}

footer a, footer p {
    color: #1c2532;
    font-family: "Syne", sans-serif;
}
footer a {
    text-decoration: none;
    font-size: 1rem;
}

footer .social-media {
    flex-direction: column;
}

footer .social-media .social-media-icons {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #aaa;
    width : 120px;
    height: 85px;
    flex-direction: row;
    flex-wrap: wrap;
}
